@import url(http://fonts.googleapis.com/css?family=Raleway);
@import url(http://fonts.googleapis.com/css?family=Quicksand);
@import url(http://fonts.googleapis.com/css?family=Gudea:400,700);
@import url(http://fonts.googleapis.com/css?family=Oxygen);

html, body{
  height: 100%;
  margin: 0;
  z-index: -1;
}

body{
  /*animation:colours 15s linear infinite;
  -webkit-animation:colours 15s linear infinite; /* Safari and Chrome */
  background: url(../images/purp_s.png);
  font-family: 'Raleway';
  font-weight: 600;
}

@keyframes colours{
  0%  {background: tomato url(../images/space.png)}
  20% {background: yellow url(../images/space.png)}
  40% {background: steelblue url(../images/space.png)}
  60% {background: green url(../images/space.png)}
  80% {background: white url(../images/space.png)}
  100%{background: tomato url(../images/space.png)}
}

@-webkit-keyframes colours{ /* Safari and Chrome */
  0%  {background: tomato url(../images/space.png)}
  20% {background: yellow url(../images/space.png)}
  40% {background: steelblue url(../images/space.png)}
  60% {background: green url(../images/space.png)}
  80% {background: white url(../images/space.png)}
  100%{background: tomato url(../images/space.png)}
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Gudea';
  font-weight: 600; 
}

.white{
  color: #f7f7f7;
}

.transparent{
  color: rgba(256, 256, 256, .4);
}

.transparent img{
  opacity: .3;
}

.navbar-inverse{
  background-color: #efefef;
}

.container img{
  display: block;
  margin: 20px auto;
  max-width: 250px;
}

.jumbotron{
  background-color: inherit;
  margin: 20px auto;
  padding-top: 10px;
  padding-bottom: 20px;
}

h2 .fa{
  font-size: 18pt;
}

footer{
  font-family: 'Oxygen';
  margin-top: 40px;
}

footer .social{
  margin: 0 10px;
}

footer .refs{
  margin-top:8px;
}

a{
  color: #fff;
  font-weight: 800;
}

a:hover{
  color: #63CB23;
  text-decoration: none;
}

footer div[class*='col-xs-']{
  margin-bottom: 20px;
}

.box{  
    width: 300px;  
    height: 300px;  
    -webkit-transition: width 2s ease, height 2s ease;  
    -moz-transition: width 2s ease, height 2s ease;  
    -o-transition: width 2s ease, height 2s ease;  
    transition: width 2s ease, height 2s ease;  
}
  
.box-change{  
    width: 400px;  
    height: 400px;  
}

.circular{
  border-radius: 128px;
  -webkit-border-radius: 128px;
  -moz-border-radius: 128px;
}

.portrait{
  margin: 0;
  padding: 0;
  width: 64px;
}