@import url(http://fonts.googleapis.com/css?family=Raleway);
@import url(http://fonts.googleapis.com/css?family=Quicksand);
@import url(http://fonts.googleapis.com/css?family=Gudea:400,700);
@import url(http://fonts.googleapis.com/css?family=Oxygen);

html, body {
  height: 100%;
  margin: 0;
  z-index: -1;
}

body {
  /*animation:colours 15s linear infinite;
  -webkit-animation:colours 15s linear infinite; /* Safari and Chrome */
  background: url(../images/purp_s.png);
  font-family: 'Raleway';
  font-weight: 600;
}

@keyframes colours {
  0%   {background: tomato url(../images/space.png)}
  20%  {background: yellow url(../images/space.png)}
  40%  {background: steelblue url(../images/space.png)}
  60%  {background: green url(../images/space.png)}
  80%  {background: white url(../images/space.png)}
  100% {background: tomato url(../images/space.png)}
}

@-webkit-keyframes colours { /* Safari and Chrome */
  0%   {background: tomato url(../images/space.png)}
  20%  {background: yellow url(../images/space.png)}
  40%  {background: steelblue url(../images/space.png)}
  60%  {background: green url(../images/space.png)}
  80%  {background: white url(../images/space.png)}
  100% {background: tomato url(../images/space.png)}
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Gudea';
  font-weight: 600; 
}

.white {
  color: #ddd;
}

.navbar-inverse {
  background-color: #efefef;
}

.jumbotron {
  background-color: inherit;
  margin-top: 50px;
}

a .navbar-brand {
  color: #666;
}

footer {
  font-family: 'Oxygen';
  margin-top: 40px;
}

